.sidebar{
    width:260px;
    height:100vh;
    background:#020617;
    position:fixed;
    left:0;
    top:0;
    padding:30px 18px;
    color:white;
    overflow-y:auto;
}

/* LOGO */
.sidebar-logo{
    font-size:18px;
    font-weight:700;
    margin-bottom:40px;
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
}

/* MENU */
.sidebar-menu{
    list-style:none;
    padding:0;
    margin:0;
}

.sidebar-menu li{
    margin-bottom:12px;
}

/* LINKS */
.sidebar-menu a{
    text-decoration:none;
    color:#cbd5e1;
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px 16px;
    border-radius:14px;
    transition:0.3s ease;
    font-weight:500;
}

/* HOVER */
.sidebar-menu a:hover{
    background:#1e293b;
    color:white;
}

/* ACTIVE */
.sidebar-menu .active{
    color:white;
}

/* ICONS */
.sidebar-menu i{
    width:20px;
    text-align:center;
}

/* SCROLLBAR */
.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}

/* RESPONSIVE */
@media(max-width:768px){

    .sidebar{
        width:90px;
        padding:20px 10px;
    }

    .sidebar-logo span{
        display:none;
    }

    .sidebar-menu a span{
        display:none;
    }

    .content{
        margin-left:90px;
        width:calc(100% - 90px);
    }

}
/* DROPDOWN */
.sidebar-dropdown-toggle{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 16px;
    border-radius:14px;
    cursor:pointer;
    color:#cbd5e1;
    transition:0.3s;
}

.sidebar-dropdown-toggle:hover{
    background:#1e293b;
    color:white;
}

.sidebar-dropdown-toggle div{
    display:flex;
    align-items:center;
    gap:14px;
}

.dropdown-arrow{
    transition:0.3s;
    font-size:12px;
}

/* SUBMENU */
.sidebar-submenu{
    list-style:none;
    padding-left:15px;
    margin-top:10px;
    max-height:0;
    overflow:hidden;
    transition:0.3s ease;
}

.sidebar-dropdown.active .sidebar-submenu{
    max-height:1000px;
}

.sidebar-dropdown.active .dropdown-arrow{
    transform:rotate(180deg);
}

/* SUBMENU LINKS */
.sidebar-submenu li{
    margin-bottom:6px;
}

.sidebar-submenu a{
    padding:10px 14px;
    font-size:14px;
    border-radius:10px;
    color:#94a3b8;
}

.sidebar-submenu a:hover{
    background:#0f172a;
    color:white;
}

/* SUBMENU TITLE */
.submenu-title{
    color:#64748b;
    font-size:11px;
    text-transform:uppercase;
    font-weight:700;
    padding:10px 14px 6px;
    letter-spacing:1px;
}